:root {
  --color-bg-primary: #fff;
  --color-primary: #222;
  --color-grey-1: #444;
  --color-grey-2: #999;
  --color-grey-3: #e3e3e3;
  --color-secondary: #f3bc16;
  --color-tertiary: #0085e4;
  --color-active: #00c677;
  --color-logo: #000; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

*::selection {
  color: var(--color-bg-primary);
  background-color: var(--color-secondary); }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.8;
  scroll-behavior: smooth; }

body {
  font-family: -apple-system,  BlinkMacSystemFont,  "Segoe UI",  Roboto,  Oxygen-Sans,  Ubuntu,  Cantarell,  "Helvetica Neue",  sans-serif;
  color: var(--color-primary);
  background-color: var(--color-bg-primary);
  min-height: 100vh; }

.header {
  text-align: center; }

.logo {
  font-family: 'Luckiest Guy', cursive;
  color: var(--color-active);
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .3rem; }
  @media screen and (min-width: 56.25em) {
    .logo {
      font-size: 5.4rem; } }

.showcase {
  height: 60vh;
  max-height: 50rem;
  padding: 0 2.4rem; }
  .showcase__imgContainer {
    order: 2;
    max-width: 670px;
    height: 100%; }
  .showcase__image {
    height: 100%;
    display: none; }
    .showcase__image--active {
      display: block; }
  .showcase__icon-box--left {
    order: 1;
    margin-right: .5rem; }
  .showcase__icon-box--right {
    order: 3;
    margin-left: .5rem; }
  .showcase__button {
    background-color: transparent;
    cursor: pointer;
    border: none; }
    .showcase__button:focus {
      outline: none; }
  .showcase__button:hover .showcase__icon,
  .showcase__button:active .showcase__icon,
  .showcase__button:focus .showcase__icon {
    fill: var(--color-active); }
  .showcase__icon {
    display: block;
    height: 40px;
    width: 40px;
    fill: var(--color-secondary);
    transition: all .2s; }

.bullet {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid var(--color-secondary); }
  .bullet--active {
    background-color: var(--color-secondary);
    transform: scale(1.3); }

.bullet:not(:last-of-type) {
  margin-right: .5rem; }

.name {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .15rem;
  word-spacing: .2rem; }
  .name--original {
    color: var(--color-grey-2); }
  .name--english {
    color: var(--color-grey-1); }

.scroll-down__box {
  transform: scale(0.7);
  animation: pulsateArrow 1s linear infinite alternate;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: transparent;
  border: none; }
  @media screen and (min-width: 56.25em) {
    .scroll-down__box {
      display: none; } }
  .scroll-down__box:hover {
    cursor: pointer; }
  .scroll-down__box:focus {
    outline: none; }

.scroll-down__arrow {
  align-self: center;
  margin: 0 auto;
  width: 9rem;
  height: 4rem;
  background: transparent; }
  .scroll-down__arrow::before {
    content: '';
    display: block;
    width: 5rem;
    height: .6rem;
    background-color: var(--color-grey-3);
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    transform: rotate(40deg);
    transform-origin: right;
    position: absolute;
    top: 3rem;
    left: 0; }
  .scroll-down__arrow::after {
    content: '';
    display: block;
    width: 5.1rem;
    height: .6rem;
    background-color: var(--color-grey-3);
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    transform: rotate(320deg) translate(-0.3rem, -0.2rem);
    transform-origin: left;
    position: absolute;
    top: 3rem;
    left: 5rem; }

.scroll-down__arrow:last-of-type {
  transform: translateY(-2.3rem); }

@keyframes pulsateArrow {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

.pose {
  display: none; }
  .pose__intro {
    font-size: 1.6rem;
    margin-top: 1.6rem;
    color: var(--color-grey-2);
    text-transform: uppercase; }
  .pose__title {
    font-size: 2.6rem;
    margin-top: .8rem; }
    @media screen and (min-width: 56.25em) {
      .pose__title {
        font-size: 2.8rem; } }
  .pose__description {
    font-size: 1.6rem;
    margin-top: 2.4rem; }
    @media screen and (min-width: 56.25em) {
      .pose__description {
        font-size: 1.8rem; } }
  .pose--active {
    display: block; }

.footer {
  text-align: center;
  padding: 2.4rem;
  border-top: 1px solid var(--color-secondary); }
  .footer__credits {
    font-size: 1.4rem; }
    .footer__credits__link, .footer__credits__link:link, .footer__credits__link:visited {
      text-decoration: none;
      color: var(--color-tertiary); }
    .footer__credits__link:hover, .footer__credits__link:active, .footer__credits__link:focus {
      color: var(--color-active);
      outline: none; }

.header {
  width: 100%;
  margin-top: 1.6rem; }
  @media screen and (min-width: 56.25em) {
    .header {
      margin: 3.2rem 0; } }

main {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  margin: 3rem auto; }
  @media screen and (min-width: 56.25em) {
    main {
      flex-direction: row;
      max-width: 118rem; } }

.showcase {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.bullets-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto; }

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.4rem auto; }

.article {
  padding: .8rem 2.4rem 2.4rem 2.4rem; }
  @media screen and (min-width: 56.25em) {
    .article {
      margin-left: 1.5rem; } }

.footer {
  width: 100%;
  margin-top: 5rem; }
