:root {
  --color-bg-primary: #fff;
  --color-primary: #222;
  --color-grey-1: #444;
  --color-grey-2: #999;
  --color-grey-3: #e3e3e3;
  --color-secondary: #f3bc16;
  --color-tertiary: #0085e4;
  --color-active: #00c677;
  --color-logo: #000;
}

$bp-900: 56.25em; //900px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  color: var(--color-bg-primary);
  background-color: var(--color-secondary);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.8;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
  color: var(--color-primary);
  background-color: var(--color-bg-primary);
  min-height: 100vh;
}


